:root {
    --color-primary: #8D5CF6;
    --color-text:#FFFFFF;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}